<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  </head>
  <body>
    <div id="body-container">
      <div id="container">
        <div id="content" class="entry-content  large-shadow ui-corner-all">
          <div>
            <div class="header-panel"> <img src="<%=coordelUrl%>/img/logo.png"></div></div>
            <div class="content-panel">