<% include ../header/html %>
<div>
  <div style="font-size: 18px;padding-bottom: 12px;"><span style="font-weight: bold;"><%=from.fullName%></span> invited you to <a href="<%=coordelUrl%>">Coordel</a></div>
  <div style="padding-bottom: 12px;">Coordel is the online partner that helps you redefine the way you innovate, execute and reuse your work and how you interact with others.</div>
  
  <div><a class="btn btn-primary" href="<%=coordelUrl%>/redeem?i=<%=hash%>">Activate Your Free Account</a></div>
</div>
<% include ../footer/html %>