<div class="coordel-links bg-white rounded-column">
  <ul class="clearfix unstyled">
    <li class="copyright">© <%= new Date().getFullYear()%> Coordel</li>
    <li><a href="/about">About</a></li>
    <li><a href="http://coordel.desk.com">Help</a></li>
    <li><a href="/tos">Terms</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="http://blog.coordel.com">Blog</a></li>
  </ul>
</div>
