<div class="coordel-links bg-white rounded-column">
  <small class="muted">
    Coordel <a href="#" onclick="window.open('/bitcoin/video', 'mywin','left=100,top=100,width=640,height=360,location=1,resizable=0');">Bitcoin</a> payments powered by <a target="_blank" href="https://coinbase.com"><img src="/img/coinbase.png"></a>
  </small>
</div>