<div class="coordel-links bg-gray rounded-column">
  <div>
    <span class="muted" style="font-size:12px">Donations welcome</span>
    <span id="donate1" class="btn btn-mini">$1</span> <span id="donate5" class="btn btn-mini">$5</span> <span id="donate10" class="btn btn-mini">$10</span> <span id="donate20" class="btn btn-mini">$20</span> <span id="donate50" class="btn btn-mini">$50</span> <span id="donate100" class="btn btn-mini">$100</span>
  </div>
</div>