<div class="coordel-links bg-gray rounded-column">
  <h5 style="text-align: center">Pleas help us make Coordel even better</h5>
  <div>
    <div style="margin: 10px 0">
      <div style="width: 160px;margin: 0 auto;">
        <script
          src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="pk_CEEWnYHqepvKhinoNAP2PAbUXdbJ6"
          data-amount="500"
          data-name="Coordel"
          data-label="Donate Dollars"
          data-description="Donation"
          data-image="/img/logo-check.png">>
        </script>
      </div>
    </div>
    <div style="width: 145px;margin:0 auto">
      <a class="coinbase-button" data-code="7cff0785a70d61cef832ac8cb48957cd" data-button-style="donation_small" href="https://coinbase.com/checkouts/7cff0785a70d61cef832ac8cb48957cd">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
    </div>
  </div>
</div>