
<div class="coordel-links bg-white rounded-column">
  <div><span class="pointer-symbol">~</span>Pointers</div>
  <div><small>Organizations with recently submitted Ideas</small></div>
  <div id="pointers"></div>
  
  <div>
    <small class="muted">Create a pointer by placing a <span class="pointer-symbol">~</span> in front of the organization's hostname (examples: ~coordel.com, ~www.washingtonpost.com).</small>
  </div>
  <div style="font-size: 9px; color: #cccccc;text-align:center">icons courtesy of <a style="color: #cccccc" target="_blank" href="http://getfavicon.appspot.com/">getFavicon</a></div>
</div>