<div>
  <div>
  </div>
  <div>
    <style>
      .proxy-info {
        width: 320px;
      }
      .proxy-info ol li, .proxy-info p {
        font-size: 12px;
      }
      .proxy-title {
        font-size: 16px;
        font-weight: bold;
      }
      .proxy-subtitle {
        font-size: 14px;
      }
    </style>
    <div class="proxy-title">prox·y</div> 
    <div>/ˈpräksē/</div>
    <strong class="muted proxy-subtitle">Noun</strong>
    <ol>
      <li>The authority to represent someone else, esp. in voting.</li>
      <li>A person authorized to act on behalf of another.</li>
    </ol>
    <strong class="muted proxy-subtitle">Synonyms</strong>
    <p>deputy - representative - agent - substitute</p>
  </div>
</div>
