.wrapper { background: rgb(67,169,228); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(67,169,228,1) 0%, rgba(57,154,209,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,169,228,1)), color-stop(100%,rgba(57,154,209,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(67,169,228,1) 0%,rgba(57,154,209,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(67,169,228,1) 0%,rgba(57,154,209,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(67,169,228,1) 0%,rgba(57,154,209,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(67,169,228,1) 0%,rgba(57,154,209,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43a9e4', endColorstr='#399ad1',GradientType=0 ); /* IE6-9 */  }  

.user-header .popover, .idea .popover {
  width: 345px;
}

.help {
  cursor: pointer;
  opacity: .2;
}

.help-active {
  opacity: 1;
}

.help:hover {
  opacity: 1;
}

.share-container .popover {
  width: 301px;
}

.social-buttons span {
  margin-right: 0;
}

.navbar-inverse .navbar-inner {
  background-image: url('/img/debut_dark.png');
}

.wrapper {
  /*background-image: url('/img/cardboard_flat.png');*/
  background-image: url('/img/body-bg15.png');
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.rounded-column, .stream-container{
  border: 1px solid #ccc;
}

.bg-gray {
  background-color: #efefef;
}