@import url("support.css");

.dollar {
    margin-left: 4px;
    height: 16px;
    width: 16px;
    line-height:16px;
    background: #09A23A;
    color: white;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid darkGreen;
    border-radius: 23px;
    float: right;
}

.donations-form {
  margin-left: 33px;
  margin-top: 10px;
}

.donations-form .stripe-button {
  margin-bottom: 20px;
}


.wrapper { background: rgb(67,169,228); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(67,169,228,1) 0%, rgba(57,154,209,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,169,228,1)), color-stop(100%,rgba(57,154,209,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(67,169,228,1) 0%,rgba(57,154,209,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(67,169,228,1) 0%,rgba(57,154,209,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(67,169,228,1) 0%,rgba(57,154,209,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(67,169,228,1) 0%,rgba(57,154,209,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43a9e4', endColorstr='#399ad1',GradientType=0 ); /* IE6-9 */  }  

.other-content {
  padding: 0 20px;
}

.beta {
  position:absolute;
  top: 15px;
  left: -138px;
}

.small-avatar {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 4px;
}

/* border-radius */
.border-radius-6 {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.border-radius-4{
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.padding-20 {
  padding: 20px;
}

.bg-blue {
  background-image: url('/img/light_blue.png');
}



.user-header .popover, .idea .popover {
  width: 345px;
}

.verb {
  color: #999;
}

.bg-green {
  background-color: #5BB75B;
}

/* carousel */
.carousel-control {
  top: 80%;
}

/* blueprints */
.blueprint {
 padding: 12px;
 border-bottom: 1px solid #ddd;
}

.empty-blueprint {
  padding: 24px 12px;
  font-size: 22px;
  color: #dedede;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.user-image {
  height: 24px;
  width: 24px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 4px;
}
/* idea details */
.details .purpose, .blueprint .purpose {
  height: 12px;
  width: 12px;
  display: inline-block;
}

/* activity report */
.activity .report-entry {
  width: 22.50%;
  display: inline-block;
  padding: 12px 0;
  margin: 0 .9% 1em;
  vertical-align: top;
  text-decoration: none;
  background: #F3F3F3;
  border-radius: 5px;
}

.idea, .contact, .feedback {
  background-color: #fff;
}

.stream-header {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.stream-footer {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.stream-entry:hover .activity .report-entry {
  background: #fff;
}

.report-entry .entry-value {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.report-entry .entry-name {
  font-size: 10px;
  text-transform: uppercase;
  text-align:center;
}

.dogear .tooltip {
  min-width: 100px;
}

.typeahead { z-index: 1051; }
.typeahead .active > a,
.typeahead .active > a:hover {
    color: white;

    /* Change the typeahead background color here if you'd like 
    background-color: Green;*/

    /* Turns off the default background gradients 
    background-image: none;*/
}

.img-typeahead {
  height: 24px;
  width: 24px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 4px;
}

.help {
  cursor: pointer;
  opacity: .2;
}

.help-active {
  opacity: 1;
}

.help:hover {
  opacity: 1;
}

.share-container .popover {
  width: 301px;
}

.social-buttons span {
  margin-right: 0;
}

.navbar-inverse .navbar-inner {
  background-image: url('/img/debut_dark.png');
}

.wrapper {
  /*background-image: url('/img/cardboard_flat.png');*/
  background-image: url('/img/body-bg15.png');
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.stream-container-gray{
  /*border: 1px solid #ccc;*/
  background-color: #dedede;
}

.bg-gray {
  background-color: #efefef;
}


/* blueprint icon */

.c-icon-blueprint {
  background-position: -420px 0;
}

.navbar-inverse .nav li:hover .c-icon-blueprint {
  background-position: -440px 0;
}

.navbar-inverse li.active:hover .c-icon-blueprint,
.active .c-icon-blueprint {
  background-position: -460px 0;
  margin-top: 0;
}
/* user profile  */
.user-profile-container {
  position:relative;
  text-align: center;
  padding:0;
  min-height: 297px;
  margin-bottom:14px; 
  background-image: url('/img/light_blue.png');
}

.info-container {
  padding:0;
  height: 302px;
  margin-bottom:14px; 
  background-image: url('/img/light_blue.png');
}



.profile-main {
  min-height: 207px;
}

.profile-main .fullname {
  font-size: 20px;
}

.profile-image {
  margin: 20px auto 12px;
  height: 73px;
  width: 73px;
}

.profile-feedback-container {
  position:absolute; 
  top: 65px; 
  left: 296px;
}

.profile-feedback-score {
  color: #fff; 
  position:absolute; 
  top:66px; 
  left:298px;
  height: 35px;
  line-height: 35px;
  width: 32px;
  cursor: pointer;
}

.profile-stats {
  border-top: 1px solid #ddd;  
  margin-bottom: 0; 
  margin-top:12px; 
  border-bottom-right-radius: 6px;
  border-bottom-left-radius:6px;
}

.idea-spaced {
  margin: 20px 0;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}


.idea .details .profile-stats {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 1px solid #ddd; 
  margin-top: 0; 
}

.profile-stats th {
  text-align: center;
  padding: 4px;
}

.profile-stats td {
  color: #555;
  font-size:10px;
  border-right: 1px solid #ddd;
  text-align: center;
  padding: 4px;
}

.profile-stats td strong {
  display: block; 
  color: #000; 
  font-size: 14px; 
  font-weight: bold;
}

/* feedback */
.feedback .ui-slider {
  width: 317px;
  margin-top: 26px;
}

.feedback td strong {
  font-size: 14px;
}

.idea-stream {
  max-height: 600px;
  overflow-y: scroll;
}

/* contact */
.contact {
  border-bottom: 1px solid #ddd;
  position: relative;
}

.contact .table th, .contact .table td , .feedback .table th, .feedback .table td, .idea-stream .table th, .idea-stream .table td{
  padding: 4px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
}

/* icons */

.icon-cart {
  height: 23px;
  width: 26px;
  display:inline-block;
  background: url('../img/cart.png');
}

.icon-twitter-small {
  height: 14px;
  width: 14px;
  display: inline-block;
  background: url('../img/twitter_small.png');
}

.icon-feedback {
  height: 14px;
  width: 14px;
  display: inline-block;
  background: url('../img/feedback_mini.png') no-repeat center center;
}

.icon-dogear-proxy {
  height: 24px;
  width: 24px;
  display:inline-block;
  background: url('../img/dogear_proxy.png') no-repeat;
  position: absolute;
  top: -1px;
  right: 0;
}

.icon-dogear-proxy-stopped {
  height: 24px;
  width: 24px;
  display:inline-block;
  background: url('../img/dogear_proxy_stopped.png') no-repeat;
  position: absolute;
  top: -1px;
  right: 0;
}

.icon-dogear-proxy-started {
  height: 24px;
  width: 24px;
  display:inline-block;
  background: url('../img/dogear_proxy_started.png') no-repeat;
  position: absolute;
  top: -1px;
  right: 0;
}

.icon-dogear-recurring {
  height: 24px;
  width: 24px;
  display:inline-block;
  background: url('../img/dogear_recurring.png') no-repeat;
  position: absolute;
  top: -1px;
  right: 0;
}

.icon-dogear-recurring-stopped {
  height: 24px;
  width: 24px;
  display:inline-block;
  background: url('../img/dogear_recurring_stopped.png') no-repeat;
  position: absolute;
  top: -1px;
  right: 0;
}

.icon-dogear-both {
  height: 24px;
  width: 24px;
  display:inline-block;
  background: url('../img/dogear_both.png') no-repeat;
  position: absolute;
  top: -1px;
  right: 0;
}

.icon-dogear-both-stopped {
  height: 24px;
  width: 24px;
  display:inline-block;
  background: url('../img/dogear_both_stopped.png') no-repeat;
  position: absolute;
  top: -1px;
  right: 0;
}



/* allocation styles */
.allocation {
  border-top: 1px solid #E8E8E8;
  background-color: #f6f6f6;
  padding: 9px 12px;
}

.pledge-allocation td {
  text-align: center;
}

.pledge-allocation td strong {
  font-size: 22px;
}