<% include header %>
<div class="account-content">
 <h3>Forgot your password?</h3>
  <form action="/sessions" method="post" id="account">
    <fieldset>
      
      <label>Enter your e-mail</label>
      <input placeholder="E-mail" type="text" style="width: 375px" name="resend-email" id="resend-email">
    
      <h5>—OR—</h5>

      <label>Enter your username</label>
      <div class="input-prepend">
        <span class="add-on">@</span>
        <input class="span2" id="resend-username" type="text" placeholder="Username">
      </div>
         
      
      <input type="submit" value="Submit" style="margin-right: 12px; margin-top: 20px" class="btn login btn-primary">
      <input type='hidden' name='_csrf' value="<%=token%>">
      

    </fieldset>
  </form>
</div>
<% include footer %>