<% include header %>
<div class="account-content">
 <h3>Forgot your password?</h3>
  <div id="resend">
    <fieldset>
      
      <label>Enter your e-mail</label>
      <input placeholder="E-mail" type="text" style="width: 375px" name="email" id="resendEmail">
    
      <h5>—OR—</h5>

      <label>Enter your username</label>
      <div class="input-prepend">
        <span class="add-on">@</span>
        <input class="span2" id="resendUsername" name="username" type="text" placeholder="Username">
      </div>
         
      
      <button id="resendPasswordSubmit" type="submit" style="margin-right: 12px; margin-top: 20px" class="btn login btn-primary">Submit</button>
      <input type='hidden' name='_csrf' value="<%=token%>">
      <div style="margin-top: 20px">
        <div id="resendPasswordSuccess" class="alert alert-success hide" style="margin-top: 20px">
          Your password was reset. Check your email for and follow the link to complete the process.
        </div>

        <div id="resendPasswordErrors" class="alert alert-error hide">
          Invalid username or e-mail.
        </div>
      </div>
    </fieldset>
  </div>
</div>
<% include footer %>