<span class="verb">{verb}</span>
<strong><a href="/{username}" class="fullname">{fullName}</a></strong>
<div>
  <div class="{hideComment}">{comment}</div>
    <div class="{hideTable}">
      <table style="margin-top: 10px; margin-bottom: 4px;" class="table table-bordered">
        <tr>
          <td>
            <strong><div style="font-size: 14px">{coordination}</div></strong>
            <div>COORDINATION</div>
          </td>
          <td>
            <strong><div style="font-size: 14px">{performance}</div></strong>
            <div>PERFORMANCE</div>
          </td>
        </tr>
      </table>
    </div>
</div>