<div>
  <div id="proxyDeallocateModal" data-backdrop="false" class="modal hide in">  
    <div class="modal-header">  
    <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>  
    <h4 style="text-align: center">Stop allocation of pledges given to you by proxy</h4>  
  </div>  
  
  <div class="modal-body"> 
  
    <div id="proxyDeallocateError" class="alert alert-error hide">
      Woops, either we didn't find your proxied pledges or something went wrong. Please close this dialog and try again. If the problem continues, please contact <strong><a style="color: #B94A48;" href="http://coordel.desk.com">Support</a></strong>.
    </div>

    <div id="proxyDeallocateAction" class="alert alert-info">
     Click "Confirm" to stop allocation of any new or recurring pledges given to you by proxy.
    </div>
  </div>
  <div class="modal-footer" style="text-align: left">
    <input id="proxyDeallocateSubmit" type="submit" value="Confirm" class="btn btn-primary pull-right">
    <input id="proxyDeallocateIdea" type="hidden">
  </div>            
</div>