<div>
  <div id="proxyAllocateModal" data-backdrop="false" class="modal hide in">  
    <div class="modal-header">  
    <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>  
    <h4 style="text-align: center">Allocate pledges given to you by proxy</h4>  
  </div>  
  
  <div class="modal-body"> 
  
    <div id="proxyAllocateError" class="alert alert-error hide">
      Woops, either we didn't find pledges given to you by proxy or something went wrong. Please close this dialog and try again. If the problem continues, please contact <strong><a style="color: #B94A48;" href="http://coordel.desk.com">Support</a></strong>.
    </div>

    <div id="proxyAllocateAction" class=" pledge-allocation">
      <fieldset style="width: 400px; margin: auto;">
       
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Proxied by</th>
              <th>Type</th>
              <th>BTC</th>
              <th>USD</th>
            </tr>
          </thead>
          <tbody id="proxyAllocationPledgesContainer">
            
          </tbody>
        </table>
      </fieldset>
    </div>

    <div id="proxyAllocateNoPledges" class="alert alert-info hide">
      There are currently no pledges given to you by proxy for this Idea. Click "Confirm" if you want any new pledges given by proxy to be immediately allocated.
    </div>
    
  </div>

  
  <div class="modal-footer" style="text-align: left">
    <input id="proxyAllocateSubmit" type="submit" value="Confirm" class="btn btn-primary pull-right">
    <input id="proxyAllocateIdea" type="hidden">
  </div>            
</div>