<div >
  <div id="proxyModal" data-backdrop="false" class="modal hide in">  
    <div class="modal-header">  
    <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>  
    <h4 style="text-align: center">Allocate your <span id="proxyPledgeType">one-time</span> pledge</h4>  
  </div>  
  
  <div class="modal-body"> 
    <div id="proxyAuthorize">
      <h4>Authorize payments from you Coinbase account</h4>
      <ul>
        <li><p>In order to allocate your pledge, please click "Authorize" to connect Coordel with your Coinbase account.</p></li>
        <li><p>When you allocate money to an Idea, the Responsible can then distribute the amount to the appropriate participant or participants in the Idea.</p></li>
        <li><p>You will be credited with the 2.083 ownership points.</p></li>
      </ul>
      <p>
        <a id="coinbaseAuthorize" class="btn btn-mini btn-primary pull-right">Authorize</a>
        <div class="clearfix"></div>
      </p>

    </div>

    <div id="proxyError" class="alert alert-error hide">
      Woops, either we didn't find your pledge or something went wrong. Please close this dialog and try again. If the problem continues, please contact <strong><a style="color: #B94A48;" href="http://coordel.desk.com">Support</a></strong>.
    </div>

    <div id="proxyAction" class="hide pledge-allocation">
      <fieldset style="width: 400px; margin: auto;">
       <div data-dojo-attach-point="proxySelectContainer"></div>
        <table class="table table-bordered">
          <tr>
            <td >
              <strong><span id="allocateBtcAmount">0.00</strong>
              <div>BTC</div>
            </td>
            <td>
              <strong><span id="proxyLocalSymbol"></span><span id="proxyLocalAmount">0.00</span></strong>
              <div id="proxyLocalCurrency">USD</div>
            </td>
          </tr>
         
        </table>
        <div>
          <p id="proxyOnceInstructions">Click "Confirm" to indicate you want transfer the above amount to the Idea's Bank and charge it to your Coinbase account.</p>
          
          <p id="proxyRecurringInstructions" class="hide">Click "Confirm" to start your recurring pledge now, to indicate you want transfer the above amount to the Idea's Bank and charge it to your Coinbase account, and to order the process to repeat each month until you cancel the recurrance.</p>

          <p>The Idea Responsible can then distribute the amount to the appropriate Idea participant or participants.</p>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="modal-footer" style="text-align: left">
    <input id="proxySubmit" type="submit" value="Confirm" class="btn btn-primary pull-right">
    <input id="proxyIdea" type="hidden">
  </div>            
</div>