<div>
  <div id="removeProxyModal" data-backdrop="false" class="modal hide in">  
    <div class="modal-header">  
    <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>  
    <h4 style="text-align: center">Remove proxy from your <span id="removeProxyPledgeType"></span> pledge</h4>  
  </div>  
  
  <div class="modal-body"> 

    <div id="removeProxyError" class="alert alert-error hide">
      Woops, either we didn't find your pledge or something went wrong. Please close this dialog and try again. If the problem continues, please contact <strong><a style="color: #B94A48;" href="https://coordel.desk.com">Support</a></strong>.
    </div>

    <div id="removeProxyAction" class="pledge-allocation">
      <fieldset style="width: 400px; margin: auto;">
       
        <table class="table table-bordered">
          <tr>
            <td >
              <strong><span id="removeProxyBtcAmount">0.00</strong>
              <div>BTC</div>
            </td>
            <td>
              <strong><span id="removeProxyLocalSymbol"></span><span id="removeProxyLocalAmount">0.00</span></strong>
              <div id="removeProxyLocalCurrency">USD</div>
            </td>
          </tr>
        </table>

        <div style="margin-bottom: 20px" id="removeProxySelectContainer"></div>
      
      </fieldset>
    </div>
  </div>
  <div class="modal-footer" style="text-align: left">
    <input id="removeProxySubmit" type="submit" value="Remove Proxy" class="btn btn-primary pull-right">
    <input id="removeProxyIdea" type="hidden">
  </div>            
</div>