<div>
  <div id="reportTimeModal" data-backdrop="false" class="modal hide in">  
    <div class="modal-header">  
    <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>  
    <h4 style="text-align: center">Report the time you worked on this <span id="reportTimePledgeType"></span> pledge</h4>  
  </div>  
  
  <div class="modal-body pledge-allocation">  
    <div id="reportTimeAction">
      <fieldset style="width: 400px; margin: auto;">
        <div>
          <table class="table table-bordered">
            <tr>
              <td >
                <strong><span id="reportTimeHours">0.00</span></strong>
                <div>HOURS PLEDGED</div>
              </td>
            </tr>
          </table>
        </div>
        <h5>Time Report</h5>
        <div>
          <textarea id="reportTimeDescription" class="textarea" style="width: 386px" rows="4" placeholder="Describe work done..."></textarea>
        </div>

      </fieldset>
    </div>
    <div id="reportTimeError" class="alert alert-error hide">
      Woops, either we didn't find your pledge or something went wrong. Please close this dialog and try again. If the problem continues, please contact <strong><a style="color: #B94A48;" href="http://coordel.desk.com">Support</a></strong>.
    </div>
  </div>  
  <div class="modal-footer" style="text-align: left">
    <input id="reportTimeSubmit" type="submit" value="Submit Report" href="#" class="btn btn-primary pull-right">
    <input id="reportTimeIdea" type="hidden">
  </div>            
</div>