<div >
  <div id="supportTimeModal" data-backdrop="false" class="modal hide in">  
    <div class="modal-header">  
    <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>  
    <h4 style="text-align: center">Give time to help make this Idea a success story</h4>  
  </div>  
  
  <div class="modal-body"> 
  <div>
    <img class="pull-left" style="margin-right: 20px; margin-bottom: 30px" src="/img/logo-main.png">
    <p>
      Click "Follow" to indicate you are willing to give time to make this Idea happen.
    </p>
    <p>
      The Idea will be moved to your Following list. Click <i class="icon-fullscreen">&nbsp;</i> <strong>Get to work</strong> when you are ready to get started.
    </p>

  </div>
   
  </div>  
  <div class="modal-footer" style="text-align: left">
    <form id="supportTimeForm">
    <input id="supportTimeShare" type="submit" value="Support" class="btn btn-primary pull-right">
    <input id="supportTimeIdea" type="hidden">
    </form>  
  </div>            
</div>