<div>
  <div id="supportMoneyModal" data-backdrop="false" class="modal hide in">  
    <div class="modal-header">  
    <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>  
    <h4 id="supportMoneyTitle" style="text-align: center">Pledge money to help make this Idea a success story</h4>  
  </div>  
  
  <div class="modal-body">  
    <div class="hide" id="supportMoneyInfo">

      <h5>About supporting an Idea with money</h5>
      <ul>
        <li><p>Ideas you support with money are added to your <a id="supportMoneyFollowingPopover">Following</a> list.</p></li>
        <li><p>Coordel enables you to pledge as little or as much as you'd like to an Idea because we conduct all transactions in <a id="supportMoneyBitcoinPopover">Bitcoin</a> <a id="supportMoneyBitcoinMovie" target="_blank"><i class="icon-film"></i></a>. We integrate with your existing <a target="_blank" href="https://coinbase.com/home">Coinbase Wallet</a> or help you set one up in one click.</p></li>
        <li><p>You decide when the time is right to allocate your pledged amount, or you can choose someone else participating in the Idea as your <a id="supportMoneyProxyPopover">proxy</a> to decide when to allocate your pledged amount.</li>
        <li><p>You won't be charged until either you allocate or your proxy allocates the pledged amount.</p></li>
        <li><p>You are not obligated to allocate the pledged amount and can cancel the pledge at any time before it is allocated.</p></li>

      </ul>
      <p>
        <a id="supportMoneyUnderstand" class="btn btn-success btn-mini pull-right">I understand</a>
      </p>
    </div>
    <div id="supportMoneyAction">
      <fieldset style="width: 400px; margin: auto;">
        <h5>How much would you like to pledge?</h5>
        <div class="input-prepend pull-left">
          <span class="add-on">BTC</span>
          <input class="span2" id="supportMoneyBtcAmount" placeholder="0.00" type="text">
        </div>
        <div class="pull-left" style="margin-left: 10px; margin-right: 10px;line-height: 30px">or</div>
        <div class="input-prepend pull-left">
          <span id="localCurrencyCode" class="add-on">USD</span>
          <input class="span1" id="supportMoneyLocalAmount" placeholder="0.00" type="text">
        </div>
        <div class="clearfix"></div>
        <h5>Select how you would like to support this Idea</h5>
        <label class="radio">
          <input type="radio" name="optionsRadios" id="supportMoneyPledge" value="pledge" checked>
          <strong>One-time pledge</strong>--pledge a single amount I can allocate when I decide the time is right.
        </label>
        <label class="radio">
          <input type="radio" name="optionsRadios" id="supportMoneyRecurringPledge" value="pledge">
          <strong>Recurring pledge</strong>--pledge a monthly recurring amount I can allocate when I decide the time is right.
        </label>
      </fieldset>
    </div>
    <div id="supportMoneyCreateAccount">
      <p>Coordel uses <a target="_blank" href="http://coinbase.com">Coinbase Wallets</a> to make using Bitcoin simple. Please enter the e-mail and password you'd like to use to create your wallet.</p>
      <p>
        <fieldset style="width: 400px;margin: auto">
          <div>
            <label><strong>E-mail</strong></label>
            <input class="span4" type="text" id="coinbaseEmail"/>
          </div>
          <div>
          <div>

            <label><strong>Password</strong></label>
            <div class="pull-right">
              <a id="supportMoneyCreateCoinbaseAccount" style="margin-left: 8px; margin-top: 3px" class="btn btn-success btn-mini">Create Account</a>
            </div>
            <input class="span4" type="password" autocomplete="off" id="coinbasePassword"/>
          </div>
          <div id="createCoinbaseAccountErrors" class="alert hide">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            
          </div>
          <div>
            <p><a style="font-size: 12px" href="https://coinbase.com/legal/privacy" target="_blank">Coinbase Privacy Policy and User Agreement <i class="icon-circle-arrow-right icon-blue">&nbsp;</i></a></p>
          </div>
          
        </fieldset>
      </p>
      <p>&nbsp;</p>
      <p>Coordel uses Bitcoin for three reasons--</p>
      <ul>
        <li><strong>Negligible transaction fees</strong>--it would be cost-prohibitive to enable users to pledge micro-amounts using traditional payment methods.</li>
        <li><strong>Global access</strong>--it allows everyone in the world to participate.</li>
        <li><strong>Peer-to-peer</strong>--Coordel is a <a target="_blank" href="http://en.wikipedia.org/wiki/Commons-based_peer_production">peer-to-peer</a> (self-organizing) ideas marketplace and productivity solution. It makes the best sense to base it on a peer-to-peer currency.</li>
    </div>
    <div id="supportMoneyUseAccount">
      <p>Great! It looks like you already have an existing <a href="http://coinbase.com/home" target="_blank">Coinbase</a> account. Do you want to use this one or create a new one?</p>
      <p>&nbsp;</p>
      <div style="width: 400px; margin:auto">
        <p>Existing account e-mail: <strong><span id="coinbaseExistingEmail"></span></strong></p>
      </div>
      <p>&nbsp;</p>
      <p class="pull-right">
        <a id="supportMoneyUseAccountCreateNew" class="btn btn-mini">Create a new account</a>
        <a id="supportMoneyUseAccountUseExisting"style="margin-left: 8px" class="btn btn-success btn-mini">Use this account</a>
      </p>
      <div class="clearfix"></div>
    </div>
  </div>  
  <div class="modal-footer">
    <!--<form id="payment-form">-->
    <button class="btn btn-primary pull-right" disabled="disabled" type="submit" id="supportMoneySubmit">Support</button>
    <input id="supportMoneyIdea" type="hidden">
    <!--</form>--> 
  </div>            
</div>