            </div>
          </div>
          <div class="sub-content">
            <div class="">
              <h1>
                How does Coordel work for you?
              </h1>
            </div>
            <div class="">
              <h1 class="bullet icon-ideas">
                Share and support great Ideas
              </h1>
              <div class="bullet-content">
                Coordel coordinates micro-funding of Ideas. Two clicks, and your great Idea is ready to be micro-funded. Review submitted Ideas, and in a no time pledge your time or money to help make the Idea a success. Why do work you don't like, when you can choose to do what you love? How's that for a great opportunity?
              </div>
            </div>
            <div class="">
              <h1 class="bullet icon-workspace">
                Make Ideas happen 
              </h1>
              <div class="bullet-content">
                How much effort does it take to coordinate all your e-mails, calendars, to do lists, phone calls,…? Coordel is your go-to place to manage all the work you could and should be doing, for yourself and as part of a team. It’s all your professional commitments in just one window. How’s that for productivity?  
              </div>
            </div>
            <div class="">
              <h1 class="bullet icon-blueprints">
                Re-use Success Stories
              </h1>
              <div class="bullet-content">
                Remember that perfect collaborative effort, the one where the team had it all figured out? Coordel lets you do it all over again with one-click blueprinting of successful efforts. How’s that for making your success stories work for you?
              </div>
            </div>
          </div>
        </div><!-- .entry-content -->
        </div><!-- .content .hfeed -->
      </div><!-- #container -->
    </div><!-- #body-container -->
  </body>
</html>