<div>
  <!-- Profile recap -->
  <div style="margin-bottom: 9px">
    <img src="/img/feedback.png" class="pull-right"/>
    <img data-dojo-attach-point="profileImage" style="margin-right: 9px;" height="36" width="36" src="" class="img-rounded pull-left"/>
    <div class="clearfix">
      <div><a href="" data-dojo-attach-point="profileName" class="fullname"></a></div>
      <div style="font-size: 12px; color: #999; line-height: 16px">View my profile</div>
    </div>
  </div>
  <div class="mini-stats clearfix">
    <ul>
      <li class="stats">
        <a data-dojo-attach-point="ideasLink" href="">
          <strong data-dojo-attach-point="ideas">0</strong>
          IDEAS
        </a>
      </li>
        
      <li class="supporting stats">
        <a href="/supporting">
          <strong data-dojo-attach-point="supporting">0</strong>
          SUPPORTING
        </a>
      </li>
      <li class="stats">
        <a href="/contacts">
          <strong data-dojo-attach-point="contacts">0</strong>
          CONTACTS
        </a>
      </li>
    </ul>
  </div>
</div>