<% include header %>
<div class="left-column">
  <% include ../includes/login %>
  <% include ../includes/registration %>
  <% include ../includes/about %>
</div>
<div class="main-column">
  <div class="stream-container bg-white no-padding">
  <div class="stream-header">
    <h4 id="container-header">Success stories</h4>
    <div></div>
  </div>
  <div class="stream">
    <div id="stream-items-container" class="stream-items">
      main
    </div>
  </div>
  <div class="stream-footer">
    <div style="margin: 0 auto; width: 100px;">
      <img class="logo" src="lib/coordel-bootstrap/img/logo.png"/>
      <div></div>
    </div>
  </div>
</div>
</div>
<% include footer %>