<div class="contact">
  <div class="message-content">
    <div class="pull-right">
      <table class="table table-bordered">
        <tr>
          <td>
            <strong>1</strong>
            <div>COORDINATION</div>
          </td>
        </tr>
        <tr>
          <td>
            <strong>2</strong>
            <div>PERFORMANCE</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="idea-header">
      <a data-dojo-attach-point="userDetails">
        <img data-dojo-attach-point="userImage" class="avatar">
        <strong><a data-dojo-attach-point="userNameLink" class="fullname"></a></strong>
        <span  class="username"><span>@</span><b data-dojo-attach-point="usernameLink"></b></span>
      </a>
    </div>
    

    <div data-dojo-attach-point="bio">Here is the profile of the person that we might want to see</div>
    <div data-dojo-attach-point="other">
      <span data-dojo-attach-point="location">Location</span> 
      <span data-dojo-attach-point="url">http://url.com</span>
    </div>
     
    <div class="details-footer">
      
    </div>
    <div class="clearfix"></div>
  </div>
</div>