<div>
  <div class="details-content">
    <img class="purpose" src="img/purpose.png" alt="purpose" data-placement="left" rel="tooltip" title="Purpose of this Idea">
    <div data-dojo-attach-point="purposeContainer"></div>
  </div>
  <div data-dojo-attach-point="detailsFiles" class="details-files">
  </div>
  <div class="mini-stats clearfix">
    <ul>
      <li class="invitations stats">
        <div>
          <strong data-dojo-attach-point="invited">0</strong>
          INVITED
        </div>
      </li>
      <li class="supporting stats">
        <div>
          <strong data-dojo-attach-point="supporting">0</strong>
          SUPPORTING
        </div>
      </li>
      <li class="following stats">
        <div>
          <strong data-dojo-attach-point="following">0</strong>
          FOLLOWING
        </div>
      </li>
      <li class="participating stats">
        <div>
          <strong data-dojo-attach-point="participating">0</strong>
          PARTICIPATING
        </div>
      </li>
    </ul>
  </div>
  <div data-dojo-attach-point="purposeFooter" class="details-footer">
    footer
  </div>
</div>