<div class="idea">
  <div class="stream-entry">
    <div class="content">
      <div class="">
        <div class="idea-header">
          <small class="time">
            <a data-dojo-attach-point="ideaLink"></a>
          </small>
          <a data-dojo-attach-point="userDetails">
            <img data-dojo-attach-point="userImage" class="avatar">
            <strong><a data-dojo-attach-point="userNameLink" class="fullname"></a></strong>
            <span  class="username"><s>@</s><b data-dojo-attach-point="usernameLink"></b></span>
          </a>
        </div>
        <p class="idea-text" data-dojo-attach-point="name"></p>
        <div class="idea-footer">
          <span><a data-dojo-attach-point="toggler">expand</a></span>
          <span data-dojo-attach-point="ideaActions" class="hide">
            <span class="dropdown"><i class="icon-heart icon-blue"></i> <a  class="dropdown-toggle" data-toggle="dropdown" href="#">support</a><ul class="dropdown-menu">
                <li data-dojo-attach-point="pledgeSupportContainer"><a data-dojo-attach-point="pledgeSupport" data-placement="right" data-content="Adds this idea to your supporting list">Great idea!</a></li>
                <li data-dojo-attach-point="pledgeTimeContainer"><a data-dojo-attach-point="pledgeTime" data-toggle="modal" data-target="#supportTimeModal">Pledge time</a></li>
                <li class="hide"><a data-dojo-attach-point="reportTime" data-toggle="modal" data-target="#reportTimeModal">Report time</a></li>
                <li data-dojo-attach-point="pledgeMoneyContainer"><a data-dojo-attach-point="pledgeMoney" data-toggle="modal" data-target="#supportMoneyModal">Pledge money</a></li>
                <li class="hide"><a data-dojo-attach-point="releaseMoney" data-toggle="modal" data-target="#releaseMoneyModal">Release money</a></li>
                <li class="hide"><a data-dojo-attach-point="" data-toggle="modal" data-target="#">Add proxy</a></li>
                <li class="hide"><a data-dojo-attach-point="" data-toggle="modal" data-target="#">Remove proxy</a></li>
                <li class="hide"><a data-dojo-attach-point="" data-toggle="modal" data-target="#">Edit</a></li>
                <li class="hide"><a data-dojo-attach-point="" data-toggle="modal" data-target="#">Cancel</a></li>

              </ul>
            </span>
            <span><i class="icon-user icon-blue"></i> <a data-dojo-attach-point="doInvite">invite</a></span>
            <span><i class="icon-share-alt icon-blue"></i> <a data-dojo-attach-point="doReply">reply</a></span>
            <span class="share-container"><i class="icon-share icon-blue"></i> <a data-dojo-attach-point="doShare">share</a></span>
            <span class="hide dropdown"><i class="icon-hand-up icon-blue"></i> <a class="dropdown-toggle" data-toggle="dropdown"  data-dojo-attach-point="doProxy">proxy</a><ul class="dropdown-menu">
                <li class="hide"><a data-dojo-attach-point="" data-toggle="modal" data-target="#">Allocate</a></li>
                <li class="hide"><a data-dojo-attach-point="" data-toggle="modal" data-target="#">Deallocate</a></li>
                <li><a data-dojo-attach-point="" data-toggle="modal" data-target="#">Accept</a></li>
                <li class="hide"><a data-dojo-attach-point="" data-toggle="modal" data-target="#">Decline</a></li>
                <li><a data-dojo-attach-point="" data-toggle="modal" data-target="#">Show details</a></li>
            
              </ul>
          </span>
          </span>
        </div>
      </div>
    </div>
    <div data-dojo-attach-point="detailsContainer" class="details"></div>
  </div>
  <div data-dojo-attach-point="streamContainer" class="activity"></div>
</div>