<div class="idea">
  <div class="stream-entry">
    <div class="content">
      <div class="">
        <div class="idea-header">
          <small class="time">
            <a data-dojo-attach-point="ideaLink"></a>
          </small>
          <a data-dojo-attach-point="userDetails">
            <img data-dojo-attach-point="userImage" class="avatar">
            <strong><a data-dojo-attach-point="userNameLink" class="fullname"></a></strong>
            <span  class="username"><s>@</s><b data-dojo-attach-point="usernameLink"></b></span>
          </a>
          </div>
        <p class="idea-text" data-dojo-attach-point="name"></p>
        <div class="idea-footer">
          <span><a data-dojo-attach-point="toggler">expand</a></span>
          <span data-dojo-attach-point="ideaActions" class="hide">
            <span class="dropdown"><i class="icon-heart icon-blue"></i> <a  class="dropdown-toggle" data-toggle="dropdown" href="#">support</a><ul class="dropdown-menu">
                <li><a data-dojo-attach-point="pledgeSupport" data-placement="right" data-content="Adds this idea to your supporting list">Great idea!</a></li>
                <li><a data-dojo-attach-point="pledgeTime" data-toggle="modal" data-target="#supportTimeModal">I will donate time</a></li>
                <li><a data-dojo-attach-point="pledgeMoney" data-toggle="modal" data-target="#supportMoneyModal">I will donate money</a></li>
              </ul></span>
            <span><i class="icon-user icon-blue"></i> <a data-dojo-attach-point="doInvite">invite</a></span>
            <span><i class="icon-share-alt icon-blue"></i> <a data-dojo-attach-point="doReply">reply</a></span>
            <span class="share-container"><i class="icon-share icon-blue"></i> <a data-dojo-attach-point="doShare">share</a></span>
          </span>
        </div>
      </div>
    </div>
    <div data-dojo-attach-point="detailsContainer" class="details hide">
      <div class="details-content">
        <img class="purpose" src="img/purpose.png" alt="purpose" data-placement="left" rel="tooltip" title="Purpose of this Idea">
        <div data-dojo-attach-point="purposeContainer"></div>
      </div>
      <div data-dojo-attach-point="detailsFiles" class="details-files">
        <a class="attachment" href="time.pdf">Time to think about what we're doing</a>
      </div>
      <div class="mini-stats clearfix">
        <ul>
          <li class="invitations stats">
            <div>
              <strong>5</strong>
              INVITATIONS
            </div>
          </li>
          <li class="supporting stats">
            <div>
              <strong>40</strong>
              SUPPORTING
            </div>
          </li>
          <li class="stats">
            <div>
              <ul class="profile-pile unstyled">
                <li>
                  <a href="link to userprofile">
                    <img class="size24" src="http://placehold.it/24x24">
                  </a>
                </li>
                <li>
                  <a href="link to userprofile">
                    <img class="size24" src="http://placehold.it/24x24">
                  </a>
                </li>
                <li>
                  <a href="link to userprofile">
                    <img class="size24" src="http://placehold.it/24x24">
                  </a>
                </li>
                <li>
                  <a href="link to userprofile">
                    <img class="size24" src="http://placehold.it/24x24">
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div data-dojo-attach-point="purposeFooter" class="details-footer">
        footer
      </div>
    </div>
  </div>
</div>