<div>
  <div class="details-content">
    <div style="margin-bottom: 10px">
      <span><img class="purpose idea-purpose-icon" src="/img/purpose.png" alt="purpose" data-placement="left"><span> <span data-dojo-attach-point="purposeContainer"></span>
    </div>
    <div style="margin-bottom: 10px">
      <span><i class="icon-time idea-deadline-icon"></i><span> <span data-dojo-attach-point="deadlineContainer"></span>
    </div>
    <div data-dojo-attach-point="paymentContainer" class="hide">
      <button data-dojo-attach-point="paymentButton" class="btn btn-primary btn-mini pull-right" data-toggle="modal" data-target="#makePaymentModal">Make payment</button>
      <span><i class="icon-qrcode idea-payment-icon"></i><span> <span>
        <span><span data-dojo-attach-point="paymentBtcAmount"></span> <span>BTC</span>
        <span> (</span><span data-dojo-attach-point="paymentSymbol">$</span><span data-dojo-attach-point="paymentLocalAmount"></span> <span data-dojo-attach-point="paymentLocalCurrency">USD</span><span>) </span> 
      </span>
    </div>
  </div>
  
  <div data-dojo-attach-point="detailsFiles" class="details-files hide" style="border-top: 1px solid #ddd; padding:8px">
  </div>
  <div data-dojo-attach-point="userImages" class="hide" style="border-top: 1px solid #ddd; padding: 8px">
  </div>
  <div data-dojo-attach-point="activityContainer" class="activity hide" style="border-top: 1px solid #ddd; padding: 12px 2px 0">
  </div>
  <table class="table profile-stats">
    <tr>
      <th style="border-right: 1px solid #ddd">Supporting</th>
      <th colspan="2" style="border-right: 1px solid #ddd">Time</th>
      <th colspan="2">Money</th>
      
    </tr>
    <tr>
      <td>
        <strong data-dojo-attach-point="peopleSupporting"></strong>
        <span data-dojo-attach-point="peopleLabel">PEOPLE</span>
      </td>
      <td>
        <strong data-dojo-attach-point="timePledged"></strong>
        PLEDGED
      </td>
      <td>
        <strong data-dojo-attach-point="timeReported"></strong>
        REPORTED
      </td>
      <td>
        <strong data-dojo-attach-point="moneyPledged"></strong>
        PLEDGED
      </td>
      <td style="border-right: none">
        <strong data-dojo-attach-point="moneyAllocated"></strong>
        ALLOCATED
      </td>
    </tr>
    <tr class="hide" data-dojo-attach-point="gaveList">
      <td>&nbsp;</td>
      <td colspan="2" class"people-list" data-dojo-attach-point="gaveTimeContainer" style="text-align:left;"></td>
      <td colspan="2" class="people-list" data-dojo-attach-point="gaveMoneyContainer" style="text-align: left;border-right: none"></td>
    </tr>
  </table>
  <div data-dojo-attach-point="purposeFooter" class="details-footer"></div>
</div>