<div>
  <div class="details-content">
    <div style="margin-bottom: 10px">
      <span><img class="purpose idea-purpose-icon" src="img/purpose.png" alt="purpose" data-placement="left" rel="tooltip" ><span> <span data-dojo-attach-point="purposeContainer"></span>
    </div>
    <div>
      <span><i class="icon-time idea-deadline-icon"></i><span> <span data-dojo-attach-point="deadlineContainer"></span>
    </div>
  </div>
  
  <div data-dojo-attach-point="detailsFiles" class="details-files hide" style="border-top: 1px solid #ddd; padding:8px">
  </div>
  <div data-dojo-attach-point="userImages" class="hide" style="border-top: 1px solid #ddd; padding: 8px">
  </div>
  <div data-dojo-attach-point="activityContainer" class="activity hide" style="border-top: 1px solid #ddd; padding: 12px 2px 0">
  </div>
  <table class="table profile-stats">
    <tr>
      <th colspan="2" style="border-right: 1px solid #ddd">Money Support</th>
      <th colspan="2">Time Support</th>
    </tr>
    <tr>
      <td>
        <strong data-dojo-attach-point="moneyPledged"></strong>
        PLEDGED
      </td>
      <td>
        <strong data-dojo-attach-point="moneyAllocated"></strong>
        ALLOCATED
      </td>
      <td>
        <strong data-dojo-attach-point="timePledged"></strong>
        PLEDGED
      </td>
      <td style="border-right: none">
        <strong data-dojo-attach-point="timeReported"></strong>
        REPORTED
      </td>
    </tr>
  </table>
  <div data-dojo-attach-point="purposeFooter" class="details-footer"></div>
</div>