<div class="idea">
  <i data-dojo-attach-point="dogear"></i>

  <div class="stream-entry">
    <div class="content">
      <div class="">
        <div class="idea-header">
          <small class="time">
            <a data-dojo-attach-point="ideaLink"></a>
          </small>
          <a data-dojo-attach-point="userDetails">
            <img data-dojo-attach-point="userImage" class="avatar">
            <strong><a data-dojo-attach-point="userNameLink" class="fullname"></a></strong>
            <span  class="username"><s>@</s><b data-dojo-attach-point="usernameLink"></b></span>
          </a>
        </div>
        <p class="idea-text" data-dojo-attach-point="name"></p>
        <div class="idea-footer">
          <span><a data-dojo-attach-point="toggler">expand</a></span>
          <span data-dojo-attach-point="doFeedbackContainer" class="hide"><i class="icon-feedback"></i> <a data-dojo-attach-point="doFeedback" data-toggle="modal" data-target="#feedbackModal">feedback</a></span>
          <span data-dojo-attach-point="ideaActions" class="hide">
            <span class="dropdown"><i class="icon-heart icon-blue"></i> <a  class="dropdown-toggle" data-toggle="dropdown" href="#">support</a><ul class="dropdown-menu">
                <li data-dojo-attach-point="pledgeSupportContainer"><a data-dojo-attach-point="pledgeSupport" data-placement="right" data-content="Adds this idea to your supporting list">Great idea!</a></li>
                <li data-dojo-attach-point="pledgeTimeContainer"><a data-dojo-attach-point="pledgeTime" data-toggle="modal" data-target="#supportTimeModal">Pledge time</a></li>
                <li data-dojo-attach-point="reportTimeContainer"  class="hide"><a data-dojo-attach-point="reportTime" data-toggle="modal" data-target="#reportTimeModal">Report time</a></li>
                <li data-dojo-attach-point="pledgeMoneyContainer"><a data-dojo-attach-point="pledgeMoney" data-toggle="modal" data-target="#supportMoneyModal">Pledge money</a></li>
                <li data-dojo-attach-point="releaseMoneyContainer" class="hide"><a data-dojo-attach-point="releaseMoney" data-toggle="modal" data-target="#allocateModal">Allocate pledge</a></li>
                <li data-dojo-attach-point="addProxyContainer" class="hide"><a data-dojo-attach-point="addProxy" data-toggle="modal" data-target="#addProxyModal">Allocate by proxy</a></li>
                <li data-dojo-attach-point="removeProxyContainer" class="hide"><a data-dojo-attach-point="removeProxy" data-toggle="modal" data-target="#removeProxyModal">Remove proxy</a></li>
                <li data-dojo-attach-point="editContainer" class="hide"><a data-dojo-attach-point="" data-toggle="modal" data-target="#">Edit</a></li>
                <li data-dojo-attach-point="cancelMoneyContainer" class="hide"><a data-dojo-attach-point="cancelMoney" data-toggle="modal" data-target="#cancelMoneyPledgeModal">Cancel money pledge</a></li>
                <li data-dojo-attach-point="cancelTimeContainer" class="hide"><a data-dojo-attach-point="cancelTime" data-toggle="modal" data-target="#cancelTimePledgeModal">Cancel time pledge</a></li>
              </ul>
            </span>
            <span><i class="icon-user icon-blue"></i> <a data-dojo-attach-point="doInvite">invite</a></span>
            <span><i class="icon-comment icon-blue"></i> <a data-dojo-attach-point="doReply">comment</a></span>
            <span class="share-container"><i class="icon-share icon-blue"></i> <a data-dojo-attach-point="doShare">share</a></span>
            <span data-dojo-attach-point="proxyAllocateContainer" class="hide"><i class="icon-hand-right icon-blue"></i> <a data-dojo-attach-point="proxyAllocate" data-toggle="modal" data-target="#proxyAllocateModal">proxy allocate</a></span>
            <span data-dojo-attach-point="proxyDeallocateContainer" class="hide"><i class="icon-hand-right icon-blue"></i> <a data-dojo-attach-point="proxyDeallocate" data-toggle="modal" data-target="#proxyDeallocateModal">proxy deallocate</a></span>
          </span>
        </div>
      </div>
    </div>
    <div data-dojo-attach-point="detailsContainer" class="details"></div>
  </div>
  <div data-dojo-attach-point="streamContainer" class="activity"></div>
</div>