<div>
  <!--
  <h5>From Contacts</h5>
  <div class="input-prepend">
    <span class="add-on">@</span>
    <input class="span3 invite" id="inviteContact-{id}" type="text" placeholder="Username">
  </div>
  <hr>
  <h5>By Email</h5>
-->
  <form id="inviteForm-{id}" style="margin-bottom: 0;">
    <div class="controls clearfix">
      <input style="width: 303px" placeholder="Full name of person to invite" type="text" id="inviteName-{id}">
      <input style="width: 303px" placeholder="E-mail address" type="text" id="inviteEmail-{id}">
      <textarea id="inviteMessage-{id}" rows="4" maxchars="560" style="width: 303px" placeholder="Personal message..."></textarea>
      <p style="font-size:12px; margin: 0 0 8px 0">Recipients will be invited to Follow this Idea</p>
      <input id="submitEmailInvite-{id}" style="margin-bottom: 0" type="submit" value="Send Invitation" class="btn btn-primary pull-right">
      <input type="hidden" name="origin" value="index-invite">
      <input type="hidden" name="_csrf" value="<%=token%>">
    </div>
  </form>
 
</div>