<span class="dropdown"><i class="icon-share icon-blue"></i> <a class="dropdown-toggle" data-toggle="dropdown" data-dojo-attach-point="doShare">share</a>
  <ul class="dropdown-menu">
    <li data-dojo-attach-point="connectTwitterEntry"><a href="/connect/twitter" onclick="window.open(this.href, 'mywin',
'left=40,top=40,width=800,height=600,toolbar=1,resizable=0'); return false;">Connect to Twitter</a></li>
    <li><a data-dojo-attach-point="shareTwitter" data-toggle="modal" data-target="#shareTwitterModal">Twitter</a></li>
    <li><a data-dojo-attach-point="shareEmail" data-toggle="modal" data-target="#shareEmailModal">E-mail</a></li>
  </ul>
</span>