<tr>
  <td class="user-report">
    <a href="{userLink}">
    <img alt="{fullName}" src="{imageUrl}" class="user-image" id="entryImage-{id}" rel="tooltip" data-html="true" data-placement="left"  title="{fullName}"/></a>
  </td>
  <td class="user-report">
    <span>{timePledged}</span>
  </td>
  <td class="user-report">
    <span>{timeReported}</span>
  </td>
  <td class="user-report">
    <span>{moneyPledged}</span>
  </td>
  <td class="user-report">
    <span class="{proxyClass}">{moneyProxied}</span>
  </td>
  <td class="user-report" style="border-right: none">
    <span>{moneyAllocated}</span>
  </td>
</tr>