<% include ../header/html %>
<div>
  <h3 style="font-size:18px;-webkit-font-smoothing:antialiased">
    Your password has been reset
  </h3>
  <div style="padding-top: 18px">
    <p>Click the following link to complete the reset process--</p>
    <a class="btn btn-primary" href="<%=resetUrl%>">Complete Reset</a>
  </div>
</div>
<% include ../footer/html %>