<div class="contact">
  <div class="message-content">
    
    <div class="idea-header">
      <a data-dojo-attach-point="userDetails">
        <img data-dojo-attach-point="userImage" class="avatar">
        <strong><a data-dojo-attach-point="userNameLink" class="fullname"></a></strong>
        <span  class="username"><span>@</span><b data-dojo-attach-point="usernameLink"></b></span>
      </a>
    </div>
    <div data-dojo-attach-point="comment"></div>
    <div>
      <table style="margin-top: 10px; margin-bottom: 4px;" class="table table-bordered">
        <tr>
          <td>
            <strong><div style="font-size: 14px" data-dojo-attach-point="coordinationAvg">0</div></strong>
            <div>COORDINATION</div>
          </td>
          <td>
            <strong><div style="font-size: 14px" data-dojo-attach-point="performanceAvg">0</div></strong>
            <div>PERFORMANCE</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="clearfix"></div>
    
    <div class="details-footer">
      <div><a data-dojo-attach-point="ideaUrl"><i class="icon-globe icon-blue" style="opacity: .5; margin-top: -1px"></i> <span data-dojo-attach-point="ideaName"></span></a></div>
      <div data-dojo-attach-point="feedbackDate"></div>
    </div>
  </div>
</div>