<div class="idea"  style="margin: 12px 0;border-radius: 4px">
  <div class="stream-entry">
    <div class="content">
      <div>
        <div class="idea-header">
          <small class="time">
            <a href="#link to idea" class="" title="8:37 PM - 7 Nov 12">
              <span class="time" data-time="1352317067" data-long-form="true">6m</span>
            </a>
          </small>
          <a class="" href="/TheEconomist" data-user-id="5988062">
            <img class="avatar" src="https://twimg0-a.akamaihd.net/profile_images/1300552494/E_avatar_normal.jpg" alt="The Economist">
            <strong><a href="*" class="fullname">The Economist</a></strong>
            <span class="username js-action-profile-name"><s>@</s><b>TheEconomist</b></span>
          </a>
          </div>
        <p class="idea-text">Here is somethign that is long and about 65 characters andd thatd</p>
        <div class="idea-footer">
          <span><a href="">hide</a></span>
          <span><i class="icon-heart icon-blue"></i> <a href="">support</a></span>
          <span><i class="icon-user icon-blue"></i> <a href="">invite</a></span>
          <span><i class="icon-share-alt icon-blue"></i> <a href="">reply</a></span>
          <span><i class="icon-share icon-blue"></i> <a href="">share</a></span>
        </div>
      </div>
    </div>
    <div class="details">
      <div class="details-content">
        <img class="purpose" src="img/purpose.png" alt="purpose" data-placement="left" rel="tooltip" title="Purpose of this Idea">
        Here is some long decryption of lots of characters. It's all about having some text that adds up to 560 characters
        <br/><br/>

        One thing that needs to happens is that there needs to be lots of characters that don't mean anything but that have a lot to say so that we know what the thing is going to look like and we are going to have  to see that tree is one or another or something like that.<br/><br/>

        You know what I mean when I fill out this thing to have some text and see what it look like filled out.
      </div>
      <div class="details-files">
        <a class="attachment" href="time.pdf">Time to think about what we're doing</a>
      </div>
      <div class="mini-stats clearfix">
        <ul>
          <li class="invitations stats">
            <div>
              <strong>5</strong>
              INVITATIONS
            </div>
          </li>
          <li class="supporting stats">
            <div>
              <strong>40</strong>
              SUPPORTING
            </div>
          </li>
          <li class="stats">
            <div>
              <ul class="profile-pile unstyled">
                <li>
                  <a href="link to userprofile">
                    <img class="size24" src="http://placehold.it/24x24">
                  </a>
                </li>
                <li>
                  <a href="link to userprofile">
                    <img class="size24" src="http://placehold.it/24x24">
                  </a>
                </li>
                <li>
                  <a href="link to userprofile">
                    <img class="size24" src="http://placehold.it/24x24">
                  </a>
                </li>
                <li>
                  <a href="link to userprofile">
                    <img class="size24" src="http://placehold.it/24x24">
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="details-footer">
        footer
      </div>
    </div>
  </div>
  <div class="activity">
    <div class="idea-message">
      <div class="message-content">
        <div class="idea-header">
          <small class="time">
            <a href="#link to idea" class="" title="8:37 PM - 7 Nov 12">
              <span class="time" data-time="1352317067" data-long-form="true">6m</span>
            </a>
          </small>
          <a class="" href="/TheEconomist" data-user-id="5988062">
            <img class="avatar" src="https://twimg0-a.akamaihd.net/profile_images/1300552494/E_avatar_normal.jpg" alt="The Economist">
            <strong><a href="*" class="fullname">The Economist</a></strong>
            <span class="username js-action-profile-name"><s>@</s><b>TheEconomist</b></span>
          </a>
        </div>
        <p>Here is somethign that is long and about 65 characters andd thatd</p>
        <div class="idea-footer">
          <div class="actions">
            <span><a href="">hide</a></span>
            <span><i class="icon-share-alt icon-blue"></i> <a href="">reply</a></span>
            <span><i class="icon-share icon-blue"></i> <a href="">share</a></span>
          </div>
        </div>
        <div class="details-footer">
          footer
        </div>
      </div>
    </div>
    <div class="idea-message">
      <div class="message-content">
        <div class="idea-header">
          <small class="time">
            <a href="#link to idea" class="" title="8:37 PM - 7 Nov 12">
              <span class="time" data-time="1352317067" data-long-form="true">6m</span>
            </a>
          </small>
          <a class="" href="/TheEconomist" data-user-id="5988062">
            <img class="avatar" src="https://twimg0-a.akamaihd.net/profile_images/1300552494/E_avatar_normal.jpg" alt="The Economist">
            <strong><a href="*" class="fullname">The Economist</a></strong>
            <span class="username js-action-profile-name"><s>@</s><b>TheEconomist</b></span>
          </a>
        </div>
        <p>
          <span>
            <i class="icon-fullscreen activity-icon"></i> <strong class="activity-log">supported this idea</strong>
          </span>
        </p>
        <div class="idea-footer">
          <div class="actions">
            <span><a href="">expand</a></span>
            <span><i class="icon-share-alt icon-blue"></i> <a href="">reply</a></span>
            <span><i class="icon-share icon-blue"></i> <a href="">share</a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="idea-message">
      <div class="message-content">
        <div class="idea-header">
          <small class="time">
            <a href="#link to idea" class="" title="8:37 PM - 7 Nov 12">
              <span class="time" data-time="1352317067" data-long-form="true">6m</span>
            </a>
          </small>
          <a class="" href="/TheEconomist" data-user-id="5988062">
            <img class="avatar" src="https://twimg0-a.akamaihd.net/profile_images/1300552494/E_avatar_normal.jpg" alt="The Economist">
            <strong><a href="*" class="fullname">The Economist</a></strong>
            <span class="username js-action-profile-name"><s>@</s><b>TheEconomist</b></span>
          </a>
        </div>
        <p>Here is somethign that is long and about 65 characters andd thatd</p>
        <div class="idea-footer">
          <div class="actions">
            <span><a href="">hide</a></span>
            <span><i class="icon-share-alt icon-blue"></i> <a href="">reply</a></span>
            <span><i class="icon-share icon-blue"></i> <a href="">share</a></span>
          </div>
        </div>
        <div class="details-footer">
          footer
        </div>
      </div>
    </div>
    <div class="idea-message">
      <div class="message-content">
        <div class="idea-header">
          <small class="time">
            <a href="#link to idea" class="" title="8:37 PM - 7 Nov 12">
              <span class="time" data-time="1352317067" data-long-form="true">6m</span>
            </a>
          </small>
          <a class="" href="/TheEconomist" data-user-id="5988062">
            <img class="avatar" src="https://twimg0-a.akamaihd.net/profile_images/1300552494/E_avatar_normal.jpg" alt="The Economist">
            <strong><a href="*" class="fullname">The Economist</a></strong>
            <span class="username js-action-profile-name"><s>@</s><b>TheEconomist</b></span>
          </a>
        </div>
        <p>
          <span>
            <i class="icon-fullscreen activity-icon"></i> <strong class="activity-log">supported this idea</strong>
          </span>
        </p>
        <div class="idea-footer">
          <div class="actions">
            <span><a href="">expand</a></span>
            <span><i class="icon-share-alt icon-blue"></i> <a href="">reply</a></span>
            <span><i class="icon-share icon-blue"></i> <a href="">share</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>