<div class="donations-form">
  <div class="stripe-button">
    <button style="width:147px" class="btn" data-toggle="modal" data-backdrop="true" data-target="#donationsModal">Donate Dollars <span  class="dollar">$</span></button>
  </div>
  <div>
    <a class="coinbase-button" data-code="eba8c90c9af1fbcf14aaed281570f8e2" data-button-style="donation_small" href="https://coinbase.com/checkouts/eba8c90c9af1fbcf14aaed281570f8e2">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
  </div>
</div>
