<div>
  <div class="profile-main">
    <img data-dojo-attach-point="profileImage" class="profile-image img-rounded" src=""/>
    <img class="profile-feedback-container" src="/img/feedback.png"/>
    <span class="profile-feedback-score">99</span>
    <div data-dojo-attach-point="fullName" class="fullname">First Last</div>
    <div style="font-size: 16px">@<span data-dojo-attach-point="username">username</div>
    <div data-dojo-attach-point="bio">Here is the profile of the person that we might want to see</div>
    <div data-dojo-attach-point="other"><span data-dojo-attach-point="location">Location</span> 
  
      <span data-dojo-attach-point="url">http://url.com</span></div>
  </div>

  <table class="table profile-stats bg-white">
    <tr>
      <th colspan="3" style="border-right: 1px solid #ddd">Money Support</th>
      <th colspan="2">Time Support</th>
    </tr>
    <tr>
      <td>
        <strong data-dojo-attach-point="moneyPledged"></strong>
        PLEDGED
      </td>
      <td>
        <strong data-dojo-attach-point="moneyProxied"></strong>
        PROXIED
      </td>
      <td>
        <strong data-dojo-attach-point="moneyAllocated"></strong>
        ALLOCATED
      </td>
      <td>
        <strong data-dojo-attach-point="timePledged"></strong>
        PLEDGED
      </td>
      <td style="border-right: none">
        <strong data-dojo-attach-point="timeReported"></strong>
        REPORTED
      </td>
    </tr>
  </table>
</div>