<% include header %>
<div class="other-content">
  <h3>About Coordel</h3>
  <p class="lead">Everthing you need to get from inspiration to success story.</p>
  <hr>
  <p><strong>Ideas marketplace</strong></p>
  <p>Coordel enables sharing and supporting Ideas in real time. Every idea isn't great, but every idea creates opportunity. From the instant an Idea is shared, anyone can choose to support it with time or money.</p>
  <p>When giving time, as soon as you indicate your support, you can get to work. Whether you want to find others to get involved, start creating tasks, or just discuss how to proceed, Coordel is ready to support you. When you have done work on the Idea, you can Report your time.</p>
  <p>Everyone should be able to support Ideas with money, so micro-funding (giving very small amounts) is enabled. Coordel conducts all transactions in Bitcoin because there are negligible transaction fees. Giving money is a two-step process. First, you decide that an Idea is interesting and make a Pledge. Then, you can watch progress on the Idea. When you feel progress has been made, you Allocate your Pledge. It is then paid into the Idea bank. The Idea Responsible can choose to allocate the money to anyone participating in the Idea. 
  <hr>
  <p><strong>Productivity Workspace</strong></p>
  <p>Coordel's productivity Workspace makes it possible to get right to work on Ideas that you find interesting or inspirational. Everything you need to perform and coordinate is there: finding the right people, figuring out what work needs to happen, creating process, and executing work.</p>
  <p>The Workspace is unique because it provides an individual view of everything happening. In a peer-to-peer environment, there isn't anyone in charge, so there is no need for a view from the top. The Coordel Workspace adjusts to your unique commitments and enables you to be as productive as possible in your indivividual context.</p>
  <hr>
  <p><strong>Success Stories</strong></p>
  <p>Anything you do in in the Coordel Workspace can be Blueprinted, which means that it can be copied and repeated. If you know how to do something, capture the Tasks, Deadlines, and Deliverables in the Workspace, and then publish it. Anyone else can then execute your Blueprint. Publish Blueprints to everyone, or share them with individuals.</p>
  <hr>
  <p><strong>The question of Effort</strong></p>
  <p>Ideas have always been highly valued. We celebrate the person who had the Idea. That said, the greatest Ideas have only become reality because of the efforts of many people in addition to the person who had the Idea.</p>
  <p>To maintain the tradition of celebrating the person who had the Idea, Coordel associates the person's image with the Idea in lists.</p>
  <p>In order to make it more transparent what it takes to make an Idea into a success, Coordel proposes the following formula for calculating effort--</p>
  <ul>
    <li>500 points for sharing the Idea</li>
    <li>50 points for every hour given to an Idea</li>
    <li>1 point for every .05 BTC (roughly 1.00 USD) given to an Idea</li>
  </ul>
  <p>Coordel is very interested in getting the best answer to this question. Please go to our <a href="https://github.com/Coordel/governance/wiki/Ownership-and-Effort" target="_blank">wiki</a> on <a href="https://github.com/organizations/Coordel">Github</a> and help us.</p>
  <hr>
  <p><strong>Business model</strong></p>
  <p>Coordel adds a 5% commission to any money given to Ideas and .0005 BTC (roughly $.01 USD) per hour of time given.</p>
  <p>Example 1: 10.00 USD given, 1 hours reported</p>
  <p>The commission earned on the money support would be $.50 USD. For 1 hour(1 x $.01 = .01). The total amount earned by Coordel would be $.51 USD. The person who gave $10.00 USD would be billed $10.50 by Coordel. Coordel would allocate 9.99 to the Idea.
  <p>
  <p>Example 2: no money, 2 hours reported</p>
  <p>In this case, Coordel takes points only. In addition to allocating the points for the hour reported, Coordel would collect 2 points (one point per hour). Then, if money is allocated in the future, the points will be collected -- 2 points = 2 hours = 2 x $.01 = $.02 USD.</p>
</div>
<% include footer %>