<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <meta name="description" content="A description of the page" />
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="lib/coordel-bootstrap/css/coordel.css" rel="stylesheet" media="screen">
    <link href="css/ideas.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="img/favicon.gif" />
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <% include ../includes/analytics %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand"><img style="margin-left: 20px;" src="img/logo_white.png"/></a>
        </div>
      </div>
    </div>
    <div class="account-wrapper clearfix">